<div ng-app="ExploreTO" ng-controller="MainController as main">
  \{{loggedUser.first_name}}

  <img ng-src="https://graph.facebook.com/\{{loggedUser.id}}/picture?type=small"/>
  <img ng-src="https://graph.facebook.com/\{{loggedUser.id}}/picture?type=normal"/>
  <img ng-src="https://graph.facebook.com/\{{loggedUser.id}}/picture?type=large"/>
</div>
