<div ng-app="ExploreTO" ng-controller="MainController as main">
  \{{main.firstName}}

  <img ng-src="https://graph.facebook.com/\{{main.facebookUserId}}/picture?type=small"/>
  <img ng-src="https://graph.facebook.com/\{{main.facebookUserId}}/picture?type=normal"/>
  <img ng-src="https://graph.facebook.com/\{{main.facebookUserId}}/picture?type=large"/>
</div>
