/*BASE STYLES*/

body {
	font-family: 'Roboto Slab';
	font-weight: 300;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Megrim';
}

h1 {
	font-size: 50px;
}

p {
	line-height: 1.8em;
}

.logo-svg {
	text-align: center;
	position: relative;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateY(-50%); /* This would be overwritten */
	transform: translateX(-50%); /* By this.. */
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	z-index: 999;
}

/*END BASE STYLES*/

.signupBusiness-view {
	margin: 0 auto;
	max-width: 500px;
}

.main-view {

}

.circle-icon {
	font-size: 70pt;
	color: white;
	text-align: center;
}

.circle-bar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	position: relative;
	top: -70px;
	padding-top: 20px;
}

.bg-orange {
	background: #D75D31;
}

.bus-sign-head  {
	background: url('/client/assets/images/toronto-blur-small.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
	background-attachment: fixed;
	height: 500px;
	border-bottom: 10px solid #D75D31;
}

/*HEADER*/

.logo {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
	top: 35%;
}

.logo > img  {
	max-width: 45%;
}

/*LANDING PAGE - ABOUT SECTION*/

.about {
	background: #FFF;
}

.about h1 {
	margin-top: 50px;
	color: #D75D31;
}

/*LANDING PAGE - FEATURES SECTION*/

.features {
	margin-top: 50px;
	padding: 50px 0;
	background: #EEE;
}

.feature-icon {
	color: #D75D31;
}

/*FOOTER*/

footer {
	background: #666;
	color: #FFF;
	/*margin-top: 50px;*/
	padding: 25px;
}

footer h1, footer h2, footer h3, footer h4, footer h6 {
	font-family: 'Roboto Slab';
}

footer h4 {
	font-size: 1em;
	text-align: center;
}

footer h5 {
	font-size: 4em;
	text-align: center;
}

footer h1 {
	font-size: 12px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCC;
}

.col-md-2 {
	border-right: 1px dotted #CCC;
}
