<div class="row about">
<div class="container">
  <div class="col-xs-12">
	  <h1>How It Works</h1>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium, eius. Aliquam veniam nihil, vel iure, voluptatem officia saepe assumenda repudiandae molestias, possimus quibusdam reiciendis laborum nemo. Ad, quo, voluptatum.</p>
	</div> <!-- .col-xs-12 -->
	</div> <!-- .container -->
</div> <!-- .row.about -->


<div class="row features">
<div class="container">
  <div class="col-md-4">
    <h2><i class="fa fa-check feature-icon"></i> Feature 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nemo dolor, tenetur qui dolores cumque, unde. Quos neque, voluptate quasi reprehenderit recusandae vero deleniti iusto ipsam ex itaque! Amet, perspiciatis.</p>
  </div>
  <div class="col-md-4">
  	<h2> <i class="fa fa-check feature-icon"></i> Feature 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nemo dolor, tenetur qui dolores cumque, unde. Quos neque, voluptate quasi reprehenderit recusandae vero deleniti iusto ipsam ex itaque! Amet, perspiciatis.</p>
  </div>
  <div class="col-md-4">
  	<h2> <i class="fa fa-check feature-icon"></i> Feature 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nemo dolor, tenetur qui dolores cumque, unde. Quos neque, voluptate quasi reprehenderit recusandae vero deleniti iusto ipsam ex itaque! Amet, perspiciatis.</p>
  </div>
  </div> <!-- .container -->
</div> <!-- .row.features -->