<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bus-sign-head">
      <div class="logo">
        <img src="/client/assets/images/logomap.png" alt="logo">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-3 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-compass"></i>
      </div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-users"></i>
      </div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Register your business
      </h1>
      <p>
        Shed everywhere bat tail flick hiss jump on the table, lick catnip attack jump lick. Biting I don't like that food attack your ankles shed everywhere catnip, scratched sleep on your keyboard climb the curtains chuf I don't like that food give me fish meow. Biting sleep in the sink lick claw hairball lay down in your way, claw lick sleep in the sink litter box. Chuf give me fish kittens sleep on your face litter box knock over the lamp, give me fish chase the red dot sleep on your keyboard bat zzz attack. Meow eat biting give me fish eat run, jump leap bat litter box I don't like that food I don't like that food. Stuck in a tree lay down in your way hairball chase the red dot, sleep in the sink scratched sleep on your face eat the grass sleep on your keyboard shed everywhere.
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="signupBusiness-view" ng-app="signupBusiness" ng-controller="SignupBusinessController as signupBusiness">
    <form ng-show="!singupBusiness.sent">
      <div class="row">
        <div class="google-maps-view--businessSignup">
          <input id="pac-input" class="controls" type="text" placeholder="Where is your business located?">
          <div id="google-maps-view"></div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Name:</label>
            <input class="form-control" type="text" placeholder="Company name" ng-model="signupBusiness.name">
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input class="form-control" type="text" placeholder="your@email.com" ng-model="signupBusiness.email">
          </div>
          <div class="form-group">
            <label>Tell us about your business and your offer:</label>
            <textarea class="form-control" rows="4" ng-model="signupBusiness.about"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="tel" placeholder="" ng-model="signupBusiness.phone">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control" type="tel" placeholder="123 Yonge Street" ng-model="signupBusiness.address">
          </div>
          <div class="form-group">
            <label>Postal Code</label>
            <input class="form-control" type="tel" placeholder="1A2 B3C" ng-model="signupBusiness.postalCode">
          </div>
          <div class="form-group">
            <label>Company Logo</label>
            <input class="form-file" type="file" ng-file-select="signupBusiness.onFileSelect($files)">
          </div>
        </div>
      </div>
      <img ng-src="\{{signupBusiness.imageSource}}">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-primary w100 signupBusiness-submit" type="submit" ng-click="signupBusiness.submit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
