<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bus-sign-head">
      <div class="logo">
        <img src="/client/assets/images/logomap.png" alt="logo">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-3 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-compass"></i>
      </div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-users"></i>
      </div>
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="circle-bar bg-orange circle-icon">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Register your business
      </h1>
      <p>
        Do you offer unique classes, workshops, activities, or experiences in Toronto? Interested in partnering with us to help us connect you and our experience-hungry subscribers? Send us your contact information and we'll get you all set up.
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="signupBusiness-view" ng-app="signupBusiness" ng-controller="SignupBusinessController as signupBusiness">
    <form ng-show="!singupBusiness.sent">
      <div class="row">
        <div class="google-maps-view--businessSignup">
          <input id="pac-input" class="controls" type="text" placeholder="Where is your business located?">
          <div id="google-maps-view"></div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Name:</label>
            <input class="form-control" type="text" placeholder="Company name" ng-model="signupBusiness.name">
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input class="form-control" type="text" placeholder="your@email.com" ng-model="signupBusiness.email">
          </div>
          <div class="form-group">
            <label>Tell us about your business and your offer:</label>
            <textarea class="form-control" rows="4" ng-model="signupBusiness.about"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="tel" placeholder="" ng-model="signupBusiness.phone">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control" type="tel" placeholder="123 Yonge Street" ng-model="signupBusiness.address">
          </div>
          <div class="form-group">
            <label>Postal Code</label>
            <input class="form-control" type="tel" placeholder="1A2 B3C" ng-model="signupBusiness.postalCode">
          </div>
          <div class="form-group">
            <label>Company Logo</label>
            <input class="form-file" type="file" ng-file-select="signupBusiness.onFileSelect($files)">
          </div>
        </div>
      </div>
      <img ng-src="\{{signupBusiness.imageSource}}">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-primary w100 signupBusiness-submit" type="submit" ng-click="signupBusiness.submit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
