<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Vendor -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Megrim' rel='stylesheet' type='text/css'>

  <!-- custom -->
  <script type="text/javascript" src="{{script_src}}"></script>
  <link rel="stylesheet" href="/client/styles/theme.css">
  <link rel="stylesheet" href="/client/styles/util.css">

  <script type="text/javascript" src="/client/vendor/angular-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script type="text/javascript" src="/client/vendor/angular-file-upload.min.js"></script>
  <script type="text/javascript" src="/client/vendor/angular-bootstrap.js"></script>

  <title>
      {{#if title}}
          {{title}}
      {{else}}
          ExploreTO
      {{/if}}
  </title>

<body>
  <main>
    {{{body}}}
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <h1>ExploreTO Statistics</h1>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-md-2 col-md-offset-1"><h4>Team Members</h4><h5>9</h5></div>
        <div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
        <div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
        <div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
        <div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
      </div> <!-- .row -->
      <div class="row">
        <div class="">
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </footer>

</body>

</html>
