<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Vendor -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Megrim' rel='stylesheet' type='text/css'>

	<!-- custom -->
	<script type="text/javascript" src="{{script_src}}"></script>
	<link rel="stylesheet" href="/client/styles/theme.css">
	<link rel="stylesheet" href="/client/styles/util.css">
	<link rel="stylesheet" href="/client/styles/flexmin.css">


	<title>
		{{#if title}}
		{{title}}
		{{else}}
		ExploreTO
		{{/if}}

	</title>
</head>

<body>
	<header>
		<div class="flexslider">
			<div class="logo-svg">
				<?xml version="1.0" encoding="utf-8"?>
				<!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="-107.8 -25.7 1454.1 440" enable-background="new -107.8 -25.7 1454.1 440" xml:space="preserve">
				<g>
					<path fill="#F3F2EE" d="M416.5,298.2h-27.6V40.3h90.1c40,0,70.6,7.2,91.4,21.7c21.5,14.9,32.6,36.2,32.6,63
					c0,30.7-13.7,53.5-40.7,68l-30.5,16.8l-14.3-23.2l31.4-17.1c17.9-9.3,26.5-23.8,26.5-44.2c0-38.7-31.4-57.3-96.2-57.3h-62.5v230.2
					H416.5z"/>
					<path fill="#F3F2EE" d="M1260.2,325.6v27.6H469.6V84.1h27.6v241.5H1260.2z"/>
					<path fill="#F3F2EE" d="M716.4,298.2c-37.9,0-65.9-9.7-83.2-28.8c-16.9-18.5-25.1-45.9-25.1-83.8v-32.8c0-37.9,8.2-65.3,25.1-83.8
					c17.3-19,45.3-28.8,83.2-28.8c37.9,0,65.9,9.7,83.2,28.8c16.9,18.5,25.1,45.9,25.1,83.8v32.9c0,37.9-8.2,65.3-25.1,83.8
					C782.3,288.6,754.3,298.2,716.4,298.2z M716.4,67c-12.4,0-23,1.3-31.8,3.8c-8.2,2.3-15.8,6.5-22.5,12.2c-6.5,5.5-11.6,14.1-15,25.1
					c-3.6,12-5.5,27-5.5,44.7v32.9c0,17.7,1.9,32.8,5.5,44.7c3.4,11,8.6,19.6,15,25.3c6.7,5.7,14.3,9.7,22.5,12
					c8.8,2.5,19.4,3.6,31.8,3.6c12.4,0,23-1.3,31.8-3.6c8.2-2.3,15.6-6.3,22.3-12c6.5-5.7,11.6-14.1,15.2-25.3
					c3.8-11.8,5.7-26.8,5.7-44.7v-32.9c0-17.7-1.9-32.8-5.7-44.7c-3.4-11.2-8.6-19.6-15-25.3c-6.7-5.7-14.1-9.7-22.3-12
					C739.4,68.3,728.8,67,716.4,67z"/>
					<path fill="#F3F2EE" d="M1026,298.2H881.7v-22.3h106.3l-49.5-113.7l28.8-13.9c17.1-8,25.5-20.2,25.5-37.5
					c0-32.8-30.1-48.7-92.2-48.7h-31.8v236.1h-26.5V39.8h58.3c38.3,0,67.8,6.1,87.6,18.3c20.6,12.6,31,30.3,31,52.7
					c0,25.7-13.1,44.7-38.8,56.9l-8.9,4.2L1026,298.2z"/>
					<path fill="#F3F2EE" d="M191,298H-19.8V38.4h208.5L60.6,165.8h83.8v26.5H6.7v79.2h184.5V298H191z M6.7,65.1v116.7L124.2,65.1H6.7z"
					/>
					<polygon fill="#F3F2EE" points="374.2,298 344.1,298 273.5,185.8 202.6,298 172.5,298 258.4,161.8 180.9,39.4 211,39.4
					273.5,138.2 335.7,39.4 365.8,39.4 288.3,161.8 	"/>
					<path fill="#F3F2EE" d="M1260.2,298h-210.8V38.4h208.5l-128.2,127.4h83.8v26.5h-137.7v79.2h184.5V298H1260.2z M1075.9,65.1v116.7
					l117.5-116.7H1075.9z"/>
					<path fill="#F3F2EE" d="M698.5,155.7l-31.2,64.6l67-31.2l31.2-64.6L698.5,155.7z M716.4,180.1c-4.2,0-7.6-3.4-7.6-7.6
					s3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6S720.6,180.1,716.4,180.1z"/>
				</g>
				<g>
					<path fill="#F3F2EE" d="M86.3,357.4c-4.8,0-8.6-1.5-11.4-4.4s-4.4-6.9-4.4-11.8V334c0-5,1.5-8.8,4.4-11.8c2.9-2.9,6.7-4.4,11.4-4.4
					c4.6,0,8.6,1.5,11.4,4.4s4.4,6.9,4.4,11.8v7.2c0,5-1.5,8.9-4.4,11.8S91,357.4,86.3,357.4z M86.3,323.3c-3.2,0-5.7,1-7.4,2.7
					c-1.7,1.7-2.7,4.4-2.7,8v7.2c0,3.6,1,6.3,2.7,8c1.7,1.7,4.2,2.7,7.6,2.7c3.2,0,5.7-0.8,7.4-2.7c1.7-1.7,2.7-4.4,2.7-8V334
					c0-3.4-1-6.1-2.7-8C92,324.2,89.5,323.3,86.3,323.3z"/>
					<path fill="#F3F2EE" d="M177.7,356.8h-8.2l-0.6-1.1c-0.4-0.8-0.6-1.7-0.6-2.9c0-1,0-2.1,0-3v-3.4c0-1.7-0.6-2.9-1.5-3.8
					c-1.1-1-2.7-1.5-4.8-1.5h-10.5v10.3h4.6v5.5h-15.2v-5.5h4.8v-27.4h-4.8v-5.5h19.6c4.2,0,7.4,1,9.7,2.9c2.5,1.9,3.6,5,3.6,8.6
					c0,2.5-0.6,4.8-1.7,6.5c-0.4,0.8-1,1.3-1.7,1.9c0.8,0.6,1.1,1.1,1.7,1.7c1.1,1.7,1.7,3.8,1.7,6.3v3.6c0,0.6,0,1.1,0,1.5h3.8V356.8z
					M151.4,335.3h9.1c2.9,0,5.1-0.6,6.3-1.5c1.1-1,1.5-2.3,1.5-4.2c0-1.9-0.6-3.4-1.5-4.4c-1.1-1-3.2-1.5-6.3-1.5h-9.1V335.3z"/>
					<path fill="#F3F2EE" d="M229.5,357.4c-4.8,0-8.6-1.5-11.4-4.4s-4.4-6.9-4.4-11.8V334c0-5,1.5-8.8,4.4-11.8
					c2.9-2.9,6.7-4.4,11.4-4.4c4.6,0,8.6,1.5,11.4,4.4s4.4,6.9,4.4,11.8v7.2c0,5-1.5,8.9-4.4,11.8S234.2,357.4,229.5,357.4z
					M229.5,323.3c-3.2,0-5.7,1-7.4,2.7s-2.7,4.4-2.7,8v7.2c0,3.6,1,6.3,2.7,8s4.2,2.7,7.6,2.7c3.2,0,5.7-0.8,7.4-2.7
					c1.7-1.7,2.7-4.4,2.7-8V334c0-3.4-1-6.1-2.7-8C235.2,324.2,232.7,323.3,229.5,323.3z"/>
					<polygon fill="#F3F2EE" points="320.1,356.8 315.5,356.8 294.6,329 294.6,351.3 299.5,351.3 299.5,356.8 284.3,356.8 284.3,351.3
					289.1,351.3 289.1,323.9 284.3,323.9 284.3,318.3 293.6,318.3 314.6,346.1 314.6,323.9 309.8,323.9 309.8,318.3 325,318.3
					325,323.9 320.1,323.9 	"/>
					<polygon fill="#F3F2EE" points="385.8,356.8 370.6,356.8 370.6,351.3 375.3,351.3 375.3,323.9 367.5,323.9 367.5,330.9
					361.8,330.9 361.8,318.3 395.1,318.3 395.1,330.9 389.4,330.9 389.4,323.9 381,323.9 381,351.3 385.8,351.3 	"/>
					<path fill="#F3F2EE" d="M448.1,357.4c-4.8,0-8.6-1.5-11.4-4.4s-4.4-6.9-4.4-11.8V334c0-5,1.5-8.8,4.4-11.8
					c2.9-2.9,6.7-4.4,11.4-4.4c4.6,0,8.6,1.5,11.4,4.4s4.4,6.9,4.4,11.8v7.2c0,5-1.5,8.9-4.4,11.8C456.4,355.9,452.6,357.4,448.1,357.4
					z M447.9,323.3c-3.2,0-5.7,1-7.4,2.7c-1.7,1.7-2.7,4.4-2.7,8v7.2c0,3.6,1,6.3,2.7,8c1.7,1.7,4.2,2.7,7.6,2.7c3.2,0,5.7-0.8,7.4-2.7
					c1.7-1.7,2.7-4.4,2.7-8V334c0-3.4-1-6.1-2.7-8C453.8,324.2,451.3,323.3,447.9,323.3z"/>
					<polygon fill="#F3F2EE" points="24,356.8 8.8,356.8 8.8,351.3 13.7,351.3 13.7,323.9 5.7,323.9 5.7,330.9 0.2,330.9 0.2,318.3
					33.3,318.3 33.3,330.9 27.8,330.9 27.8,323.9 19.2,323.9 19.2,351.3 24,351.3 	"/>
				</g>
				<g>
					<path fill="#F3F2EE" d="M1331.9,414.3H-93.3c-8,0-14.5-6.5-14.5-14.5v-411c0-8,6.5-14.5,14.5-14.5h1425.1c8,0,14.5,6.5,14.5,14.5
					v411C1346.4,407.8,1339.9,414.3,1331.9,414.3z M-93.3-20.7c-5.2,0-9.5,4.3-9.5,9.5v411c0,5.2,4.3,9.5,9.5,9.5h1425.1
					c5.2,0,9.5-4.3,9.5-9.5v-411c0-5.2-4.3-9.5-9.5-9.5H-93.3z"/>
				</g>
			</svg>




		</div> <!-- .logo-svg -->
		<ul class="slides">
			<li>
				<img src="/client/assets/images/toronto-blur-small.jpg" />
				<div class="slide-text">


				</div>
			</li>
			<li>
				<img src="/client/assets/images/toronto-blur.jpg" />
			</li>
			<li>
				<img src="/client/assets/images/toronto-blur-small.jpg" />
			</li>
			<li>
				<img src="/client/assets/images/toronto.jpg" />
			</li>
		</ul>
	</div>
		<!-- <div class="flexslider-controls">
			<ol class="flex-control-nav">
				<li>Slide 1 Control</li>
				<li>Slide 2 Control</li>
				<li>Slide 3 Control</li>
				<li>Slide 4 Control</li>
			</ol>
		</div> -->

	</header>
	<main>
		{{{body}}}
	</main>
	<footer>
		<div class="container">
			<div class="row">
        <h1>ExploreTO Statistics</h1>
			</div> <!-- .row -->
			<div class="row">
				<div class="col-md-2 col-md-offset-1"><h4>Team Members</h4><h5>9</h5></div>
				<div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
				<div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
				<div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
				<div class="col-md-2"><h4>Team Members</h4><h5>9</h5></div>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/client/vendor/angular-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script type="text/javascript" src="/client/vendor/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="/client/vendor/angular-bootstrap.js"></script>
	<script type="text/javascript" src="/client/scripts/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/client/scripts/jquery.flexslider-min.js"></script>

	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide"
			});
		});

		var $flexslider = $('.flexslider');
		$flexslider.flexslider({
			animation: "slide",
			manualControls: ".flex-control-nav li",
			useCSS: false /* Chrome fix*/
		});

	</script>

</body>

</html>
